.users-list_wrapper {
  background-color: $body-color;
  width: 100vw;
  padding: 19px 59px 25px 34px;
}
.users-list {
  @include flexColumnWithGap(24px);
}
.users-list-count {
  align-self: end;
}
.title {
  padding-bottom: 10px;
}
